{% extends base_template %}

{% block title %}New - {% endblock %}

{% block content %}
	{%  load bootstrap %}
	<div class="panel panel-default">
	
	<div class="panel-heading panel-title">
		<span class="glyphicon glyphicon-bullhorn"></span>
		New blog post
	</div>

	<div class="panel-body">
		<form method="POST">
		{% csrf_token %}

		{% boot_form_fields form %}

		<button class="btn btn-default" type="submit">
			<span class="glyphicon glyphicon-share-alt"></span>
			Save
		</button>
		<button class="btn btn-default" type="preview">
			Preview
		</button>

		<div id="preview">
		</div>
		</form>

	</div>
</div>
<script>
marked.setOptions({
	highlight: function( text, language ) {
		try{
			return hljs.highlight( language.toLowerCase(), text, true ).value;
		}catch( error ){
			return text
		}
	}
});

$( '[type="preview"]' ).on( 'click', function( event ){
	event.preventDefault()
	$( '#preview' ).html( marked( $( '[name="content"]').val() ) );
	return false;
} );
</script>

{% endblock %}
