{% extends base_template|default:"ui/base.html" %}

{% block title %}{{ post.title}} - {% endblock %}

{% block content %}
<div class="panel panel-default">

	<div class="panel-body">

		<h2>{{ post.title}} - <i>{{ post.category }}</i></h2>

			<!-- There must be no extra spaces or line breaks in #displayPost for MD to be parsed correctly -->
			<code id="displayPost">{{ post.content }}</code>
		
	</div>

	<div class="panel-footer">
		By 
		<b>
			{{ post.user_id.username }}
		</b> 
		on {{ post.created_at }}
		<a href="/blog/edit/{{ post.id }}" class="ajax btn-defualt pull-right">
			<span class="glyphicon glyphicon glyphicon-pencil"></span>
			Edit
		</a>
	</div>

</div>

{% endblock %}
